# dependencies
Kaizen/node_modules/

# Expo
Kaizen/.expo/
Kaizen/dist/
Kaizen/web-build/
Kaizen/expo-env.d.ts

# Native folders (if generated)
Kaizen/ios/
Kaizen/android/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
Kaizen/.DS_Store
*.pem

# Environment Secrets
.env
.env.*
Kaizen/.env
Kaizen/.env.*
